
body {
    background-color: #ffffff;
}

/* Main container */
.crossword-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 900px 1fr;
    justify-content: center;
    align-items: start;
    padding: none;
}

/* Crossword container */
.crossword-container {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: 55px 10px 450px;
    justify-content: center;
    align-items: start;
    margin-top: 0px;
    background-color: #ffffff00;
    padding: 0px;
    border-radius: 30px;
}

/* Input and buttons container */
.crossword-input-buttons-container {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px;
    height: 55px;
    padding-left: 150px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Input box */
.input-crossword {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 16px;
    margin-bottom: 0px;
    margin-right: 10px;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border-color: #000000;
    background-color: #ffffff;
}

.input-crossword::placeholder {
    text-align: center;
    color: black;
    opacity: 0.5;
}

/* Buttons container */
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
}

/* Button styles */
.crossword-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
}

/* Crossword grid container */
.crossword-grid-container {
    grid-area: 3/2/4/3;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 450px 200px;
    margin-top: 0px;
    padding-left: 110px;
}

/* Status messages */
.status-message {
    margin-top: 0px;
}

.status-message.correct {
    display: flex;
    align-items: center;
    color: green;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif, Georgia, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 50px;
}

.status-message.incorrect {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 0px;
    color: red;
    font-family: 'Times New Roman', Times, serif, Georgia, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 50px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .crossword-wrapper {
        grid-template-columns: 1fr;
        padding: 0px;
        margin-top: 0px;
    }

    .crossword-container {
        grid-template-rows: auto auto auto;
        margin-top: 0px;
        width: 100%;
    }

    .crossword-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 0;
        margin-top: 20px;
        width: 450px;
        justify-content: center;
    }

    .crossword-input-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-top: 20px;
        padding-left: 0px;
    }

    .buttons-container {
        flex-direction: row;
        gap: 10px;
        width: 250px;
    }

    .crossword-button {
        width: 22vw;
        font-size: 14px;
    }

    .input-crossword {
        width: 5vw;
        font-size: 14px;
    }

    .status-message.correct,
    .status-message.incorrect {
        font-size: 32px;
        margin-left: 10px;
        text-align: center;
        font-size: 25px;
    }
}
