body {
    background-color: #ffffff; /* Light gray background */
}

/* Main container */
.crossword-wrapper {
    display:  grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 900px 1fr; /* Two columns: one for the crossword and one for the buttons */
    justify-content: center;
    align-items: start;
    padding: none;
  }
  
  /* Crossword container */

.crossword-container {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: 80px 20px 600px; /* Two rows: one for buttons and one for the crossword */
    justify-content: center;
    align-items: start;
    margin-top: 80px;
    background-color: #ffffff00; /* Light gray background */
    padding: px; /* Add padding around the crossword container */
    border-radius: 30px; /* Rounded corners */
  }
  
  /* Input and buttons container */
  .crossword-input-buttons-container {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px; /* Add spacing below the group */;
  }
  
  /* Input box */
  .input-crossword {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 16px;
    margin-bottom: 10px; /* Add spacing below the input box */
    width: 40px; /* Set a fixed width for the input box */
    height: 30px;
    border-radius: 10px;
    border-color: #000000;
    background-color: #ffffff;
  }

  .input-crossword::placeholder {
    text-align: center; /* Center the placeholder text */
    color: black; /* Make the placeholder text black */
    opacity: 0.5; /* Remove the faded effect */
  }
  
  /* Buttons container */
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add spacing between buttons */
  }
  
  /* Button styles */
  .crossword-button {
    padding: 10px ;
    font-size: 16px;
    cursor: pointer;
    width: 100px; /* Set a fixed width for buttons */
    border: 2px solid #000000; /* Green border */
    background-color: #ffffff
  }
  
  /* Crossword grid container */
  .crossword-grid-container {
    grid-area: 3/2/4/3;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns:  600px 200px;
    margin-top: 00px;
    padding-left: 60px;
  }


  /* Status messages */
  .status-message {
    margin-top: 0px;
  }
  
  .status-message.correct {
    grid-area: 2/2/3/3;
    color: green;
    margin-left: 20px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 60px;
  }
  
  .status-message.incorrect {
    grid-area: 2/2/3/3;
    margin-left: 20px;
    margin-top: 40px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 60px;
  }